/* CUSTOM VARS */
:root{
  /* KB DEFAULTS */
  --brandMain:var(--primary-btn-bg-color);
  --brandBg:var(--color-scheme-light-background);
  /* Brand Themes */
  --darnleysMain: #7DA992;
  --darnleysBg: #F2F6F4;
  --wemyssMain: #000000;
  --wemyssBg: #F4F3F0;
  /* Standard Font Sizes */
  --font-intro:1.2rem;
}

/* BRAND THEME MODULE STYLING */
.collection-header__logo{
  width: 360px;
  max-width: 100%;
  margin: 30px 0 auto;
}

.collection-header__logo img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 240px;
}

.collection-description-inline{
  text-align: center;
  font-size: var(--font-intro);
  width: 100%;
  max-width: 780px;
  margin: 30px auto 0;
}

body .color-scheme--light .btn, 
body .color-scheme--light .color-scheme-btn, 
body .color-scheme--light.product-section .shopify-payment-button__button--unbranded{
  background-color: var(--brand-accent-color);
}

/* Global theme styling / fixes */
.hero-video{
  background-color:#111;
}

/* HEADER GLOBAL STYLES */
.template-index
  .header-section.sticky-header:not(.sticked)
  .overlay-header
  .top-links.site-header__nav
  a,
.template-index
  .header-section.sticky-header:not(.sticked)
  .overlay-header
  .top-links.site-header__nav
  a:visited,
.template-index
  .header-section.sticky-header:not(.sticked)
  .overlay-header
  .top-links
  .top-links--icon-links
  a,
.template-index
  .header-section.sticky-header:not(.sticked)
  .overlay-header
  .top-links.site-header__nav
  a:visited,
.template-index
  .header-section.sticky-header:not(.sticked)
  .overlay-header .cart-item-count-bubble,
.NOTE-------MOBILESTYLES,
.template-index
  .header-section.sticky-header:not(.sticked)
  .overlay-header .site-nav--mobile a svg, 
.template-index
  .header-section.sticky-header:not(.sticked)
  .overlay-header .site-nav--mobile button svg{
  color: white;
}
.site-nav__dropdown.mega-menu-dropdown{
  padding-top:30px !important; /*  Clear Header */
}
.site-nav__dropdown.mega-menu-dropdown::before{
  content:"";
  display: block;
  position: absolute;
  top:30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brandBg);
}

/* CORRECT HEADER BREAKPOINTS */
@media (max-width: 1249px) {
    .site-header {
        display: none !important;
    }
}
@media (min-width: 890px) {
    body .mobile-nav-bar--inner, .mobile-nav-bar-wrapper {
        display: block !important;
    }
}
@media (min-width: 1250px) {
    .mobile-nav-bar--inner, .mobile-nav-bar-wrapper {
        display: none !important;
    }
}

/* FOOTER STYLES */
.newsletter-wrapper--outer .rte{
  max-width: 540px;
}

.shopify-section-group-footer-group .footer-header{
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-scheme-feature-background);
  margin-bottom: 1em;
}

.shopify-section-group-footer-group p + p{
  margin-top: 1em;
}

/*  POPUP FIX  */

#popup{
  z-index:100;
}
#popup .popup--close svg path{
  stroke: #fff;
}

/* Image Modules */

.image-with-text-wrapper img{
  width: 100% !important;
  max-width: 100% !important;
  max-height: 90vh !important;
}

/* Newsletter Popup */

.fancybox-wrap .popup--close{
  /* nb: assumes dark image in popop */
  color:#FFF !important;
}

/*  Blog List Inline */
.homepage-indiv-section-wrapper .article-image-wrap .responsive-image-wrapper{
  padding-top: 75%;
}
.homepage-indiv-section-wrapper .article-image-wrap .responsive-image-wrapper img,
.homepage-indiv-section-wrapper .article-image-wrap .responsive-image-wrapper video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  max-width: 100% !important;
  max-height: 100% !important;
}

/* CUSTOM ELEM CONTAINER */

.kb-gbl-inner{
  position: relative;
  max-width:1720px;
  padding:0 60px;
  margin: 0 auto;
}

@media screen and (max-width:540px){
  .kb-gbl-inner{
    padding:0 30px;
  }
}

@media screen and (max-width:400px){
  .kb-gbl-inner{
    padding:0 20px;
  }
}

/* CUSTOM PAGE HEADER */
.kb-gbl{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.kb-img-bg, .kb-img-bg img, .kb-img-bg video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  z-index: 0;
  object-fit: cover;
}

.kb-page-header {
  min-height: 500px;
}

.kb-page-header main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 30px;
  height: auto;
  max-width: 720px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  text-align: center;
  color: white;
}

.kb-page-header main h1 {
  font-size: 48px;
}

.kb-page-header main .kb-page-header-sub {
  font-size: 24px;
}

.kb-page-header-brand {
  margin: 0 auto 2em;
  width: auto;
  height: auto;
  max-width: 80%;
}

/* STORY BLOCKS */

.kb-story-media{
  margin-bottom:60px;
}

.kb-story-media-inner{
  padding-left: 50%;
  vertical-align:middle;
  font-size: 0;
  position: relative;
}

.kb-story-media-inner::before{
/* To force vertical center layout on text*/
  content:"";
  width: 1px;
  margin-right: -1px;
  display: inline-block;
  vertical-align:middle;
  padding-top:94%;
}
.kb-story-media-main{
  display: inline-block;
  vertical-align:middle;
  font-size: 1rem;
  text-align: center;
  padding: 60px;
  width: 100%;
}

.kb-story-media-main .main-inner{
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.kb-story-media-media{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  margin: 0;
}

.kb-story-subheading{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.kb-scheme-light .kb-story-media-inner{
  background-color: var(--brandBg);
}

.kb-align-right .kb-story-media-inner{
  padding: 0;
  padding-right:50%;
}

.kb-align-right .kb-story-media-media{
  left: auto;
  right:0;
}

@media screen and (max-width:860px){
  .kb-align-right .kb-story-media-inner,
  .kb-story-media-inner{
    padding:0;
  }
  .kb-story-media-inner::before{
    display: none;
  }
  .kb-align-right .kb-story-media-media,
  .kb-story-media-media{
    width:100%;
    position: relative;
    height:auto;
    padding-top:100%;
  }
}

@media screen and (max-width:600px){
  .kb-story-media-main{
    padding:0;
    margin-top:45px;
  }
}

/* Triple Column Section  */

.kb-triple,
.kb-badges{
  padding: 60px 0;
  text-align: center;
  overflow: hidden; /* Float fix */
}

.kb-triple.kb-scheme-light{
  background-color: var(--brandBg);
}

.kb-triple .kb-gbl-inner{
  max-width: 1200px;
}

.kb-triple-heading,
.kb-triple-trio-item h3{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5em;
  color:var(--brandMain);
}

.kb-gbl-inner > header,
.kb-gbl-inner > main,
.kb-gbl-inner > footer,
.kb-triple-hero{
  display: block;
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.kb-gbl-inner > header,
.kb-gbl-inner > footer{
  max-width: 900px;
}

.kb-gbl-inner > header,
.kb-triple-hero{
  margin-bottom: 60px;
}
.kb-gbl-inner > footer{
  margin-top: 60px;
}

.kb-triple-hero img,
.kb-triple-hero video{
  width: 100%;
  height: auto;
}

.kb-triple-trio{
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
  overflow: hidden;
}
.kb-triple-trio-item{
  display: block;
  float: left;
  margin:0;
  padding:0;
  width: calc(33.33% - 20px);
  margin-left:30px;
}

.kb-triple-trio-item:first-of-type{
  margin:0;
}

.kb-triple-trio-item h3{
  margin: 0 0 0.33em;
}

.kb-triple-trio-item .responsive-image-wrapper{
  margin: 0 0 1.5em;
}

@media screen and (max-width:860px){
  .kb-triple-trio-item,
  .kb-triple-trio-item:first-of-type{
    width: 100%;
    margin:0 0 30px;
  }
  .kb-triple-trio-item .responsive-image-wrapper{
    width: 50%;
    float:left;
    margin:0;
    padding-right:30px;
  }
  .kb-triple-trio-item h3,
  .kb-triple-trio-item .text{
    display: block;
  }
  .kb-triple-trio-item .responsive-image-wrapper ~ h3,
  .kb-triple-trio-item .responsive-image-wrapper ~ .text{
    display: block;
    width: 50%;
    float:right;
  }
  .kb-triple-trio-item .responsive-image-wrapper + h3{
    margin-top:4%;
  }
}

@media screen and (max-width:600px){
  .kb-triple-trio-item .responsive-image-wrapper{
    width: 100%;
    float:left;
    margin:0 0 20px;
    padding-right:0;
  }
  .kb-triple-trio-item .responsive-image-wrapper ~ h3,
  .kb-triple-trio-item .responsive-image-wrapper ~ .text{
    display: block;
    width: 100%;
    float:left;
  }
  .kb-triple-trio-item .responsive-image-wrapper + h3{
    margin-top:0;
  }
}

/* DOO SEPARATOR  */

.kb-doo-separator{
  text-align: center;
}

.kb-doo-separator img{
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
}

/* BADGES w/ Context */

.kb-badges-list{
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
}

.kb-badges-list-item{
  display: inline-block;
  list-style: none;
  margin: 1em;
  padding: 0;
  vertical-align: middle;
}

.kb-badges-list-item img,
.kb-badges-list-item a{
  display: block;
  text-decoration: none;
  width: auto;
  height: auto;
}

/* Blog Article CSS */

.grid__item .article-image-wrap{
  margin-bottom:1.5em;
}

.grid__item .blog-title-wrapper time{
  color:var(--brandMain);
  text-transform: uppercase;
  font-weight: bold;
}

/* TASTING NOTES  */

.kb-tasting-notes{
  background-color: var(--brandBg);
  padding: 2em;
}

/*  SOCIAL ICONS IN FOOTER  */

.footer-article a[href*=twitter],
.footer-article a[href*=facebook],
.footer-article a[href*=instagram],
.footer-article a[href*=youtube],
.footer-article a[href*=linkedin]{
  font-size:0 !important;
  display: inline-block !important;
  background: none !important;
  margin-right: 0.2rem;
}

.footer-article a[href*=twitter]::before,
.footer-article a[href*=facebook]::before,
.footer-article a[href*=instagram]::before,
.footer-article a[href*=youtube]::before,
.footer-article a[href*=linkedin]::before{
  content:"";
  display: block;
  position: relative;
  width: 1.3rem;
  height: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center bottom;
}
.footer-article a[href*=twitter]::before{
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23FFFFFF" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>');
}
.footer-article a[href*=facebook]::before{
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23FFFFFF" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>');
}
.footer-article a[href*=instagram]::before{
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23FFFFFF" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>');
}
.footer-article a[href*=youtube]::before{
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="%23FFFFFF" d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/></svg>');
}
.footer-article a[href*=linkedin]::before{
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23FFFFFF" d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/></svg>');
}

/* HIDE TOUR QUICK ADD ON SEARCH */
/* (Force them to pick options)  */
/* ! Below is applied in custom css on relevant modules */
/*.quick-add-wrapper {
  display: none !important;
}*/

/* HIDE PERSONALISER */

.product-personalizer:has(.pplr_no_preview) {
    display: none;
}